.profile {
  background-color: white;
  width: 250px;
  box-shadow: 0px 1px 3px rgba(122, 50, 204, 0.2),
    0px 1px 1px rgba(122, 50, 204, 0.2), 0px 2px 1px rgba(122, 50, 204, 0.2);
}
.description {
  display: block;
  padding: 30px 0px;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  background-color: rgb(245, 245, 245);
}
.name {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
  margin: 0px;
}
.tag {
  text-align: center;
  font-size: 15px;
  margin: 0px;
  padding: 5px;
}
.location {
  text-align: center;
  font-size: 15px;
  margin: 0px;
  padding: 5px;
}
.stats {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.item {
  list-style: none;
  background-color: rgb(208, 162, 226);
  box-shadow: 0 0 0 1px rgb(140, 13, 190);
  padding: 15px;
  width: calc(100% / 3);
}

.label {
  display: block;
  text-align: center;
  font-size: 12px;
  color: rgb(77, 75, 75);
}
.quantity {
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
